 <main>
                    
<br>
<div id="portfolio">
    <h1 ng-repeat="title in titleEn">{{title.title}}</h1>

    <section>
        <h2 class="subhead">AngularJS</h2> </br>
        <p ng-repeat="stuff in angularEn">
            {{stuff.year}} <a href="#" rel="external" target="_blank">{{stuff.name}}</a>
            {{stuff.description}}
        </p>

    </section>
    <section>
        <h2 class="subhead">Python</h2>
        <p ng-repeat="stuff in angularEn">
            {{stuff.year}} <a href="#" rel="external" target="_blank">{{stuff.name}}</a>
            {{stuff.description}}
        </p>
    </section>

    <section>

        <h2 class="subhead">PHP</h2>

        <p ng-repeat="stuff in angularEn">
            {{stuff.year}} <a href="#" rel="external" target="_blank">{{stuff.name}}</a>
            {{stuff.description}}
        </p>

    </section>

    <section>
        <h2 class="subhead">Shopify</h2>
        
        <p ng-repeat="stuff in angularEn">
            {{stuff.year}} <a href="#" rel="external" target="_blank">{{stuff.name}}</a>
            {{stuff.description}}
        </p>
    </section>

    <section>
        <h2 class="subhead">WordPress</h2>
        <p>
            The sites I build with WordPress use it as a CMS more than a blogging platform.
            Each is customized to the design and built from scratch.
        </p>

        <ul>
            <li>2014: <a href="http://creativemc.com/" rel="external" target="_blank">creativemc.com</a></li>
            <li>2013: <a href="http://cwb.org/" rel="external" target="_blank">cwb.org</a></li>
            <li>2012: <a href="http://symphoniclovefoundation.org/" rel="external" target="_blank">symphoniclovefoundation.org</a></li>
            <li>2011: <a href="http://hearsaysocial.com/" rel="external" target="_blank">hearsaysocial.com</a></li>
        </ul>

    </section>

    <section>
        <h2 class="subhead">Static Sites</h2>

        <p>A backend doesn't always make sense if content changes infrequently.</p>

        <ul>
            <li>2014: <a href="http://amandalindroth.com/" rel="external" target="_blank">amandalindroth.com</a></li>
            <li>2013: <a href="http://kateschelter.com/" rel="external" target="_blank">kateschelter.com</a></li>
            <li>2012: <a href="http://davidnettodesign.com/" rel="external" target="_blank">davidnettodesign.com</a></li>
        </ul>
    </section>

</div>

                </main>
