                <main>
                    
<br>
<div id="use">
    <h1>Here's some stuff that isn't completely terrible.</h1>

    <section>
        <h2 class="subhead">Hosting</h2>
        <p><a href="https://cloud.google.com/products/app-engine/" target="_blank" rel="external">Google App Engine</a>:
            I currently host this site on App Engine, because it is free and I am cheap.
        </p>

        <p><a href="https://www.digitalocean.com/?refcode=4fefd18fa883" target="_blank" rel="external">Digital Ocean</a>:
            I previously hosted mail, web, and XMPP on a Digital Ocean VM. It was smooth sailing.
        </p>

        <p><a href="https://chunkhost.com/referral_codes/43562" target="_blank" rel="external">Chunkhost</a>:
            Before Digital Ocean I used a Xen-based VM from Chunkhost. No problems there either.
        </p>

        <p><a href="http://www.shopify.com/?ref=ilovett" target="_blank" rel="external">Shopify</a>:
            I've built two e-commerce sites with Shopify, and would do so again.
        </p>
    </section>

    <section>
        <h2 class="subhead">Software</h2>

        <p>
            I mooch off of <a href="https://github.com/" target="_blank" rel="external">GitHub</a> for public repositories,
            and <a href="https://bitbucket.org/" target="_blank" rel="external">BitBucket</a> for private.
        </p>

        <p>I use Emacs.</p>

        <p>When I have a choice, I use Debian stable. When I don't, it's CentOS.</p>

        <p>
            I use <a href="http://www.asterisk.org/" target="_blank" rel="external">Asterisk</a>, Google Voice, <a href="http://www.ipkall.com/" target="_blank" rel="external">IPKall</a>, and <a href="http://www.callcentric.com/" target="_blank" rel="external">Callcentric</a>
            in a morass of telephony.
        </p>

    </section>

</div>


                </main>
